

<div class="container mt-5 mb-5">
    <div class="text-center mb-4">
        <h2>Contáctanos y con gusto te atenderemos</h2>
    </div>
    
    <form action="#">
        <div class="form-row">
            <div class="input-data">
                <input type="text" required>
                <div class="underline"></div>
                <label>Nombre Completo</label>
            </div>
            
            <div class="input-data">
                <input type="text" required>
                <div class="underline"></div>
                <label>Apellido</label>
            </div>
        </div>

        <div class="form-row">
            <div class="input-data">
                <input type="email" required>
                <div class="underline"></div>
                <label>Email</label>
            </div>
            
            <div class="input-data">
                <input type="text" required>
                <div class="underline"></div>
                <label>Teléfono</label>
            </div>
        </div>

        <div class="form-row">
            <div class="input-data textarea">
                <textarea rows="8" cols="80" required></textarea>
                <br>
                <div class="underline"></div>
                <label>Escribe tu mensaje</label>
                <br>
                
                <div class="form-row submit-btn">
                    <div class="input-data">
                        <div class="inner"></div>
                        <input type="submit" value="Enviar" class="btn btn-primary w-100">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

