<footer class="footer-custom pt-5 pb-2">
  <div class="container">
    <div class="row">
      
      <div class="col-md-4 mb-4">
        <h3 class="footer-brand"><i class="bi bi-car-front-fill"></i> AutoMotor</h3>
        <p class="footer-text">
          Líderes en venta de vehículos nuevos y seminuevos. 
          Garantía y seguridad.
        </p>
      </div>

      <div class="col-md-4 mb-4">
        <h5 class="section-title">Navegación</h5>
        <ul class="list-unstyled">
          <li>
            <a routerLink="/home" class="footer-link">Inicio</a>
          </li>
          <li>
            <a routerLink="/productos" class="footer-link">Nuestros Productos</a>
          </li>
          <li>
            <a routerLink="/contact" class="footer-link">Página de Contacto</a>
          </li>
        </ul>
      </div>

      <div class="col-md-4 mb-4">
        <h5 class="section-title">Encuéntranos</h5>
        <ul class="list-unstyled footer-text">
            <li>
            <a routerLink="/contacto" class="text-decoration-none text-muted">
                <i class="bi bi-geo-alt-fill me-2"></i> Av. Shyris y Eloy Alfaro
            </a>
          </li>
          <li><i class="bi bi-whatsapp me-2"></i> +593 99 999 9999</li>
        </ul>
      </div>

    </div>
    
    <hr class="footer-divider">
    <div class="text-center footer-copy">
      <p>&copy; {{ currentYear }} AutoMotor. Todos los derechos reservados.</p>
    </div>
  </div>
</footer>